
  <div>
    <img src="../assets/jacquin.jpg" alt="" class="fixed-bottom jacquin" />
      <div class="container mt-5">
        <div class="row">
          <div class="col-12 text-center">
            <h2>Uma pequena homenagem para o  GRAND CHEF Errrick Jacã</h2>
          </div>
        </div>
        <div class="row mt-4 ">
          <div class="col-lg-6">
            <div class="form-group has-label">
              <label class="form-control-label">
                Escreva seu texto
              </label>

              <textarea  rows="1" (input)="handleInput()" [(ngModel)]="textToTranslate" class="form-control form-control-alternative" ></textarea>

            </div>
          </div>
          <div class="col-lg-6">
            <label>Texto traduzido</label>
            <h4>{{textTranslated}}</h4>
          </div>
        </div>
      </div>
      <footer class="text-center fixed-bottom mt-5  p-2"><small>Nenhum dad está send coletad, poda ficá tranquile :)</small></footer>
  </div>




<router-outlet></router-outlet>
